.ContenedorContact {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
}
.ContenedorInfo {
  height: 70px;
  margin: 0px 6px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ContenedorAdicional {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.Hora{
    padding:  0px 0px 15px 0px;
}
