.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contenedorPrincipal {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: linear-gradient(195.3deg, #89a1fc 3.45%, #607ce1 93%);
}
.Wrapper {
  padding-right: 36px;
  padding-left: 36px;
  padding-bottom: 92px;
  cursor: default;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.Wrapper::before {
  background-color: #30304a;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 130px;
  content: "";
}
.Contenido {
  margin-right: auto;
  margin-left: auto;
  background: #eeeef3;
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgb(11 20 26 / 19%),
    0 12px 15px 0 rgb(11 20 26 / 24%);
  z-index: 2;
  display: flex;
  flex: none;
  flex-direction: column;
  overflow: hidden;
  margin: 58px 52px 110px ;
  width: 99%;
  height: 100%;
}
.Informacion {
  padding: 58px 52px 110px ;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}


/** Css Para el contenido de la pagina  CHAT **/

.InformacionChat {
  height: 100%;
  min-height: 500px;
  position: relative;
  display: flex;
}